@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

$ModerateViolet: hsl(263, 55%, 52%);
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$VeryDarkBlackishBlue: hsl(219, 29%, 14%);
$White: hsl(0, 0%, 100%);
$LightGray: hsl(0, 0%, 81%);
$LightGrayishBlue: hsl(210, 46%, 95%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: $LightGray;
    

    .container {
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        margin: 20px;
        

        .cards {
            background-color: $ModerateViolet;
            padding: 2em;
            border-radius: 7px;
            
            


            .image {
                display: flex;
                margin-bottom: 15px;
                align-items: center;

                img {
                    border-radius: 50%;
                    width: 30px;
                    height: 30px;
                    margin-right: 20px;
                }
            }
        }
        
    }
    

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

}